<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

   <main>
     

      <%- include("./partials/header.ejs") %>
<div class="background">
      <%- include("./partials/footer.ejs") %>

      <div class="pagebox">
    <h1 class="heading">ERROR, page not found :)</h1>
  </div>
</div>

     <%- include("./partials/footer.ejs") %> 
     

   </main>
  </body>
</html>