<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

   <main>

      <%- include("./partials/header.ejs") %>
<div class="background">
      <%- include("./partials/footer.ejs") %>

      <div class="pagebox">
        <div class="pageheading">
        <h2 class="heading">About us at the Cubby Hole</h2></div>
        <div class="page-pad">


    <div class="section2">
      <div class="sectionwords cushycms">
        <h3 class="subheading">The Cubby Hole Scale Model Group</h3>
        <p>The Cubby started off in 2017 as a facebook community page, comprising of well over 300 scale modellers from around the world. The backgrounds and reasons for their interest in scale modelling ranged greatly, and many a varied approach and discussion was had. The success of this group inspired the founder, Lee Hayward, to expand his passion for scale model building, and start a related business.</p>
      </div>
      <div class="picboxright extrapad">
        <img class="cushycms cubbyimg" src="images/cubbylife.jpg" title="cubby life" alt="cubby life">
        <div class="cushycms central"><p class="picheading">A model makers workstation</b></p>
        </div>
      </div>
    </div>
        
        <div class="section1">
          <div class="picboxleft extrapad">
            <img class="cushycms cubbyimg" src="images/captainlee.jpg" title="Lee Hayward" alt="Lee Hayward">
            <div class="cushycms central">
              <p class="picheading">The Cubby's Captain, Lee Hayward</p>
            </div>
          </div>
          <div class="sectionwords cushycms">
            <h3 class="subheading">Cubby Hole Founder and Entrepreneur</h3>
            <p> As an 8 year old child, Lee built kits, and it has been a lifelong love ever since, when time and tide allowed. 
              Currently a head chef at a busy restaurant in a quaint pub that dick Turpin used to visit, he now spends all his days off in the Cubby “tinkering” as he puts it. 
              This being usually on 1:48 scale prop driven WW2 aircraft or jets from the Falklands war. 
              </p><p>Lee decided to found the Cubby when modelling helped him get through severe illness and cognitive impairment. He is a keen advocate of what the modelling hobby and community can do to help people overcome personal barriers and help develop healthy mindfulness. 
              He currently lives in Bridlington with his wife, three children and dog “Ollie the Wally”.</p>
          </div>
        </div>
        <div class="section2">
          <div class="sectionwords cushycms">
            <h3 class="subheading">Web Designer/Article contributer</h3>
            <p>Jamie Vaughan is a creative person. A mosaic artist, a canvas painter, singer, guitarist, juggler and absolute nerd for Warhammer 40,000. He studied Fine Art at Sheffield Hallam, has had many painting exhibitions, worked as an art therapist/teacher and also started a ‘make your own’ mosaic business on the beautiful streets of Barcelona. Art doesn’t really pay the bills though, so he’s now also a freelance Website Developer, living in York. He made this website!</p>
          </div>
          <div class="picboxright extrapad">
            <img class="cushycms cubbyimg" src="images/jamievaughan.jpg" title="Jamie Vaughan" alt="Jamie in his own cubby hole!">
            <div class="cushycms central">
              <p class="picheading">Jamie, in his own cubby hole</p>
            </div>
          </div>
        </div>
        <div class="section1">
          <div class="picboxleft extrapad">
            <a href="https://www.bulldogmodels.co.uk/" target="blank"><img class="cushycms cubbyimg" src="images/bulldogicon.png" title="Bulldog Models" alt="Bulldog Models"></a>
            <div class="cushycms central">
              <p class="picheading">The Bulldog Models brand</p>
            </div>
          </div>
          <div class="sectionwords cushycms">
            <h3 class="subheading">Associated Companies - Bulldog Models</h3>
            <p>Bulldog models are run by friends of the Cubby Hole, and we encourage you to check out the range of attractive products on their website in the links bar. They offer a range of unique modelling tools and equipment, from LED lighting, aircraft holders and desk tidies to declutter your own cubbies! </p>
          </div>
        </div>
        <div class="section2">
          <div class="sectionwords cushycms">
            <h3 class="subheading">Associated Companies - Novae Terrae</h3>
            <p>3D Printing specialist and Sci-Fi/Warhammer 40k modeller and painter, Wayne Lawson is the talent behind Novae Terrae. Using modern day 3D printing to produce a variety of terrain pieces which are great for scale model scenery building. Wayne's work has been in the cubby's stock catalogue for some time and we await new and exciting things from him in the future!</p>
          </div>
          <div class="picboxright extrapad">
            <img class="cushycms cubbyimg" src="images/nvbunker.jpg" title="Novae Terrae" alt="Novae Terrae">
            <div class="cushycms central"><p class="picheading">An example of the kind of designs Novae Terrae can produce</p>
            </div>
          </div>
        </div>
   	   

     <%- include("./partials/footer.ejs") %> 
     </div>

   </main>

  </body>
</html>