<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

   <main>
 

      <%- include("./partials/header.ejs") %>
<div class="background">
      <%- include("./partials/footer.ejs") %>
      <div class="pagebox">
        <div class="pageheading">
        <h5 class="heading">Blank Title</h5></div>
        <div class="page-pad">

<!-- main content -->

        </div>
</div>

     <%- include("./partials/footer.ejs") %> 
     </div>

   </main>
  </body>
</html>